---
title: "Newsletter test Yahya"
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center">
          <div class="my-40">
            <component src="src/components/header.html"></component>
            <component src="src/components/hero.html"></component>
            <component src="src/components/about.html"></component>
            <component src="src/components/blog.html"></component>
            <component src="src/components/footer.html"></component>
          </div>
        </td>
      </tr>
    </table>
  </block>
</extends>
