<tr>
  <td style="padding: 40px">
    <table
      style="
        width: 100%;
        border-collapse: collapse;
        border: 0;
        border-spacing: 0;
        padding: ;
      "
    >
      <tr>
        <h1 style="font-size: 18px; margin: 0 0 30px 0; color: #154734">
          About Our Shop
        </h1>
        <p>
          UGS offers a number of template designs, t-shirts, and stickers! All
          of these products are available in our storefront, email us at
          <b>
            <a
              href="mailto:ugs@calpoly.edu"
              target="_blank"
              rel="noopener noreferrer"
              style="color: #154734"
            >
              ugs@calpoly.edu</a
            ></b
          >
          about availability of these products or if you have any questions.
        </p>
      </tr>
    </table>
  </td>
</tr>
