<tr style="background-color: #fff">
  <td style="padding: 40px">
    <table>
      <tbody>
        <tr>
          <td width="400">
            <h1 style="font-size: 18px; margin: 0">Check also</h1>
          </td>
          <td width="120">
            <a
              style="text-decoration: none; color: #51acff"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              >See all >
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!--[if gte mso 12
      ]><p height="20px" style="visibility: hidden"></p
    ><![endif]-->

    <table
      role="presentation"
      style="
        width: 100%;
        border-collapse: collapse;
        border: 0;
        border-spacing: 0;
        margin-top: 20px;
      "
    >
      <tbody>
        <tr>
          <td
            width="125"
            style="padding: 0; vertical-align: top; color: #153643"
          >
            <component src="./blogitem41.html"></component>
          </td>
          <td width="20"></td>
          <td
            width="125"
            style="padding: 0; vertical-align: top; color: #153643"
          >
            <component src="./blogitem41.html"></component>
          </td>
        </tr>
        <tr>
          <td
            width="125"
            style="padding: 0; vertical-align: top; color: #153643"
          >
            <component src="./blogitem41.html"></component>
          </td>
          <td width="20"></td>
          <td
            width="125"
            style="padding: 0; vertical-align: top; color: #153643"
          >
            <component src="./blogitem41.html"></component>
          </td>
        </tr>
      </tbody>
    </table>

    <p height="40px" style="visibility: hidden">&nbsp;</p>
  </td>
</tr>
<tr>
  <td height="30"></td>
</tr>
<tr>
  <td style="background-color: #fff; padding: 40px">
    <table
      role="presentation"
      style="
        width: 100%;
        border-collapse: collapse;
        border: 0;
        border-spacing: 0;
      "
    >
      <tr>
        <td style="width: 290px; padding: 0; font-size: 12px">
          <h3 style="margin: 0; font-weight: bold; font-size: 22px">
            Follow Us.
          </h3>
          <p
            style="
              font-weight: normal;
              font-size: 17px;
              line-height: 28px;
              color: #515759;
            "
          >
            We are always looking for new projects and collaborations. Feel free
            to contact us.
          </p>
          <table
            style="
              width: 120px;
              border-collapse: collapse;
              border: 0;
              border-spacing: 0;
            "
          >
            <tr>
              <td>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="display: inline-block"
                >
                  <img
                    src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/facebook.png"
                    alt=""
                    style="width: 30px; height: 30px; background-color: #eaeaea"
                  />
                </a>
              </td>
              <td width="15"></td>
              <td>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="display: inline-block"
                >
                  <img
                    src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/twitter.png"
                    alt=""
                    style="width: 30px; height: 30px; background-color: #eaeaea"
                  />
                </a>
              </td>
              <td width="15"></td>
              <td>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="display: inline-block"
                >
                  <img
                    src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/linkedin.png"
                    alt=""
                    style="width: 30px; height: 30px; background-color: #eaeaea"
                  />
                </a>
              </td>
            </tr>
          </table>
        </td>
        <td width="50"></td>
        <td style="width: 240px; padding: 0; font-size: 12px">
          <h3 style="margin: 0; font-weight: bold; font-size: 22px">
            Contact Us.
          </h3>
          <p
            style="
              margin-bottom: 0;
              font-weight: normal;
              font-size: 17px;
              color: #515759;
            "
          >
            One Apple Park Way
          </p>
          <p
            style="
              margin: 0;
              font-weight: normal;
              font-size: 17px;
              color: #515759;
            "
          >
            Cupertino, CA 95014
          </p>
          <p
            style="
              font-style: normal;
              font-weight: 600;
              font-size: 17px;
              color: #515759;
            "
          >
            (408) 996-1010
          </p>
          <a
            style="
              display: block;
              text-decoration: none;
              font-style: normal;
              font-weight: normal;
              font-size: 17px;
              color: #1890ff;
            "
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            support@apple.com</a
          >
        </td>
      </tr>
    </table>
  </td>
</tr>
