<table class="w-600 sm:w-full mx-auto bg-white text-gray-600 border-box">
  <tr>
    <td>
      <div class="my-16 px-40">
        <h3 class="text-3xl font-bold mb-5 ml-16 text-gray-900">MySeminars</h3>
        <hr class="h-4 bg-cyan-500 border-0" />
      </div>
      <component src="./blogitem.html"></component>
      <img
        src="https://www.myseminars.com.cy/laravel-backend/public/uploads/SktyO0upkrGMShrlUJ2agXNld.png"
        alt=""
        class="w-full my-24"
      />
      <component src="./blogitem.html"></component>
      <component src="./blogitem.html"></component>
      <img
        src="https://www.myseminars.com.cy/laravel-backend/public/uploads/SktyO0upkrGMShrlUJ2agXNld.png"
        alt=""
        class="w-full my-24"
      />
      <component src="./blogitem.html"></component>
      <component src="./blogitem.html"></component>
    </td>
  </tr>
</table>
