<table class="w-600 sm:w-full my-16 px-40">
  <tr>
    <td class="w-4/12 sm:w-full sm:block">
      <img
        class="w-full"
        src="https://www.myseminars.com.cy/laravel-backend/public/uploads/JMdQCUZNiR3JChZiQsvbJlSyb.png"
        alt=""
      />
      <div class="flex items-center justify-between text-xs mt-8">
        <div class="">
          <p class="uppercase m-0 font-semibold text-gray-900">ΕΝΑΡΞΗ</p>
          <span class="text-gray-500">10/02/2022 08:30</span>
        </div>
        <div class="">
          <p class="uppercase m-0 font-semibold text-gray-900">ΕΝΑΡΞΗ</p>
          <span class="text-gray-500">10/02/2022 08:30</span>
        </div>
        <div class="">
          <img
            class="h-16"
            src="https://www.myseminars.com.cy/assets-seminars/img/logos/logo-anad.png"
            alt=""
          />
        </div>
      </div>
    </td>
    <td class="w-8/12 sm:w-full sm:block pl-16 sm:pl-0 sm:mt-10">
      <h3 class="font-semibold text-gray-900 mt-0 mb-3">
        Πρακτική Δημιουργία και Αξιολόγηση Επιχειρη
      </h3>
      <p class="text-red-600 mt-0 mb-3">
        Σεμινάρια - Cyprus International Institute Of Management
      </p>
      <p class="m-0">
        With permission we and our partners may use precise geolocation data.
        Cyprus International Institute Of Management
      </p>
    </td>
  </tr>
</table>
