<tr>
  <td style="padding: 15px 0">
    <table
      style="
        width: 100%;
        border-collapse: collapse;
        border: 0;
        border-spacing: 0;
      "
    >
      <tr>
        <td style="padding: 30px; padding-bottom: 0">
          <h1
            style="
              font-size: 24px;
              margin: 0;
              font-family: Tahoma, sans-serif;
              font-weight: bold;
              padding-bottom: 10px;
              border-bottom: 3px solid #48aab2;
            "
          >
            MySeminars
          </h1>
        </td>
      </tr>
    </table>
    <component src="./blogitem2.html"></component>
    <component src="./blogitem3.html"></component>
    <!--[if gte mso 12]>&nbsp; <![endif]-->
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      style="display: inline-block"
    >
      <img
        src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/img-3.png"
        alt=""
        width="100%"
        style="height: auto; display: block; margin: 23px auto"
      />
    </a>
    <!--[if gte mso 12]>&nbsp; <![endif]-->
    <component src="./blogitem2.html"></component>
    <component src="./blogitem3.html"></component>
    <!--[if gte mso 12]>&nbsp; <![endif]-->
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      style="display: inline-block"
    >
      <img
        src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/img-3.png"
        alt=""
        width="100%"
        style="height: auto; display: block; margin: 23px auto"
      />
    </a>
    <!--[if gte mso 12]>&nbsp; <![endif]-->
    <component src="./blogitem4.html"></component>
    <component src="./blogitem5.html"></component>

    <!--[if gte mso 12]>&nbsp; <![endif]-->
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      style="display: inline-block"
    >
      <img
        src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/img-3.png"
        alt=""
        width="100%"
        style="height: auto; display: block; margin: 23px auto"
      />
    </a>
    <!--[if gte mso 12]>&nbsp; <![endif]-->
    <component src="./blogitem4.html"></component>
  </td>
</tr>
