<table>
  <tr>
    <td style="padding: 20px 30px">
      <table style="border-collapse: collapse; border: 0">
        <tr>
          <td style="width: 350px; padding: 0; color: #153643">
            <a
              href="#"
              style="
                margin: 0 0 8px 0;
                text-decoration: none;
                display: block;
                font-size: 13px;
                color: #000;
                font-weight: 400;
                font-family: Tahoma, sans-serif;
              "
            >
              Πρακτική Δημιουργία και Αξιολόγηση Επιχειρηματικού Πλάνου
            </a>
            <p
              style="
                font-family: Tahoma;
                font-weight: normal;
                font-size: 11px;
                margin: 0 0 6px 0;
                color: #a3223f;
              "
            >
              Σεμινάρια - Cyprus International Institute Of Management
            </p>
            <p
              style="
                font-family: Tahoma;
                margin: 0;
                font-size: 11px;
                color: #666666;
              "
            >
              Πρόκειται για ένα διήμερο, πρακτικό πρόγραμμα, το οποίο καλύπτει
              τις ανάγκες εκπόνησης επιχειρηματικού σχεδίου από ιδιώτες αλλά και
              από οργανισμούς. Οι συμμετέχοντες θα έχουν την ευκαιρία να
              αποκτήσουν θεμελιώδεις γνώσεις ...
            </p>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              style="
                display: block;
                color: #48aab2;
                font-size: 10px;
                text-align: right;
              "
              >Διαβάστε περισσότερα</a
            >
          </td>
          <td
            style="
              width: 20px;
              padding: 0;
              font-size: 0;
              line-height: 0;
              visibility: hidden;
            "
          ></td>
          <td style="width: 230px; padding: 0; color: #153643">
            <a
              href="#"
              style="
                display: block;
                margin: 0 0 8px 0;
                font-size: 16px;
                line-height: 24px;
                font-family: Tahoma, sans-serif;
              "
            >
              <img
                src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/img-2.png"
                alt=""
                width="260"
                style="height: auto; display: block"
              />
            </a>
            <table
              style="
                width: 100%;
                border-collapse: collapse;
                border: 0;
                border-spacing: 0;
              "
            >
              <tr>
                <td>
                  <p
                    style="
                      font-size: 10px;
                      color: #000;
                      font-weight: 400;
                      font-family: Tahoma, sans-serif;
                      margin: 0;
                    "
                  >
                    ΕΝΑΡΞΗ
                  </p>
                  <p
                    style="
                      font-size: 10px;
                      color: #666;
                      font-weight: 400;
                      font-family: Tahoma, sans-serif;
                      margin: 0;
                    "
                  >
                    10/02/2022 08:30
                  </p>
                  <!--[if gte mso 12]>&nbsp; <![endif]-->
                </td>
                <td>
                  <p
                    style="
                      font-size: 10px;
                      color: #000;
                      font-weight: 400;
                      font-family: Tahoma, sans-serif;
                      margin: 0;
                    "
                  >
                    ΔΙΑΡΚΕΙΑ
                  </p>
                  <p
                    style="
                      font-size: 10px;
                      color: #666;
                      font-weight: 400;
                      font-family: Tahoma, sans-serif;
                      margin: 0;
                    "
                  >
                    14 (2 Ημέρες)
                  </p>
                  <!--[if gte mso 12]>&nbsp; <![endif]-->
                </td>

                <td>
                  <img
                    src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/logo-img-3.png"
                    alt=""
                    width="40"
                  />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
