<tr>
  <td style="padding: 40px">
    <table>
      <tr>
        <td width="400">
          <h1 style="font-size: 18px; margin: 0">Check also</h1>
        </td>
        <td width="120">
          <a
            style="text-decoration: none; color: #51acff"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            >See all >
          </a>
        </td>
      </tr>
    </table>

    <!--[if gte mso 12
      ]><p height="20px" style="visibility: hidden"></p
    ><![endif]-->

    <table
      role="presentation"
      style="
        width: 100%;
        border-collapse: collapse;
        border: 0;
        border-spacing: 0;
        margin-top: 20px;
      "
    >
      <tbody>
        <tr>
          <td
            width="125"
            style="padding: 0; vertical-align: top; color: #153643"
          >
            <component src="./blogitem41.html"></component>
          </td>
          <td width="20"></td>
          <td
            width="125"
            style="padding: 0; vertical-align: top; color: #153643"
          >
            <component src="./blogitem41.html"></component>
          </td>
        </tr>
        <tr>
          <td
            width="125"
            style="padding: 0; vertical-align: top; color: #153643"
          >
            <component src="./blogitem41.html"></component>
          </td>
          <td width="20"></td>
          <td
            width="125"
            style="padding: 0; vertical-align: top; color: #153643"
          >
            <component src="./blogitem41.html"></component>
          </td>
        </tr>
      </tbody>
    </table>

    <p height="40px" style="visibility: hidden"></p>
  </td>
</tr>
