<tr>
  <td align="center" style="background-color: #e5e5e5; padding: 40px">
    <table>
      <tr>
        <td>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            style="display: inline-block"
          >
            <img
              src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/facebook.png"
              alt=""
              style="width: 30px; height: 30px"
            />
          </a>
        </td>
        <td width="8"></td>

        <td>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            style="display: inline-block"
          >
            <img
              src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/linkedin.png"
              alt=""
              style="width: 30px; height: 30px"
            />
          </a>
        </td>
        <td width="8"></td>
        <td>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            style="display: inline-block"
          >
            <img
              src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/twitter.png"
              alt=""
              style="width: 30px; height: 30px"
            />
          </a>
        </td>
      </tr>
    </table>

    <p style="font-weight: normal; font-size: 15px; margin-bottom: 0">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        style="color: black; text-decoration: none"
        >www.ugs.calpoly.edu</a
      >
    </p>
    <p style="font-weight: normal; font-size: 15px; margin-top: 0">
      805.756.1140
    </p>
    <p style="font-weight: normal; font-size: 15px; margin: 0">
      Building 26, Room 212A
    </p>
    <p style="font-weight: normal; font-size: 15px; margin: 0">
      San Luis Obispo, CA 93405
    </p>
    <p style="font-weight: normal; font-size: 15px; margin: 0">
      Hours: Monday-Friday 9AM to 5PM
    </p>
    <!--[if gte mso 12]>&nbsp; <![endif]-->
  </td>
</tr>
