<tr>
  <td style="background-color: #f6f9fe; padding: 30px">
    <table
      role="presentation"
      style="
        width: 100%;
        border-collapse: collapse;
        border: 0;
        border-spacing: 0;
      "
    >
      <tr>
        <td style="width: 300px; padding: 0; font-size: 12px">
          <ul>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Οργάνωση/Διοίκηση/Ηγεσία
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Soft Skills/ Επικοινωνία (ΝΕΑ ΚΑΤΗΓΟΡΙΑ)
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Ανθρώπινο Δυναμικό (HR)
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Χρηματοοικονομικά/Ασφαλιστικά
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Λογιστικά/Έλεγχος/Φορολογικά
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Marketing/Πωλήσεις/Εξυπ. Πελατών
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Πληροφορική - Χρήστες
              </a>
            </li>
          </ul>
        </td>
        <td style="width: 300px; padding: 0; font-size: 12px">
          <ul>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Πληροφορική - Επαγγελματίες ΙΤ
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Ασφάλεια & Υγεία στην Εργασία
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Πρώτες Βοήθειες
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Νομοθεσία και Νομικά Θέματα
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Κατασκευαστικά Έργα
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Τουρισμός/Ξενοδοχεία/Τρόφιμα
              </a>
            </li>
            <li style="color: #48aab2; margin-bottom: 10px">
              <a
                style="color: #48aab2"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                Ποιότητα και Σχετικά Πρότυπα
              </a>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </td>
</tr>
