<table class="w-600 sm:w-full mx-auto bg-gray-200 p-40">
  <tr>
    <td class="sm:w-full sm:block">
      <div>
        <ul class="">
          <li class="text-cyan-500">
            <a href="#" class="text-cyan-500 hover:text-cyan-600"
              >Οργάνωση/Διοίκηση/Ηγεσία</a
            >
          </li>
          <li class="text-cyan-500">
            <a href="#" class="text-cyan-500 hover:text-cyan-600"
              >Οργάνωση/Διοίκηση/Ηγεσία</a
            >
          </li>
          <li class="text-cyan-500">
            <a href="#" class="text-cyan-500 hover:text-cyan-600"
              >Οργάνωση/Διοίκηση/Ηγεσία</a
            >
          </li>
          <li class="text-cyan-500">
            <a href="#" class="text-cyan-500 hover:text-cyan-600"
              >Οργάνωση/Διοίκηση/Ηγεσία</a
            >
          </li>
        </ul>
      </div>
    </td>
    <td class="sm:w-full sm:block">
      <div>
        <ul class="">
          <li class="text-cyan-500">
            <a href="#" class="text-cyan-500 hover:text-cyan-600"
              >Οργάνωση/Διοίκηση/Ηγεσία</a
            >
          </li>
          <li class="text-cyan-500">
            <a href="#" class="text-cyan-500 hover:text-cyan-600"
              >Οργάνωση/Διοίκηση/Ηγεσία</a
            >
          </li>
          <li class="text-cyan-500">
            <a href="#" class="text-cyan-500 hover:text-cyan-600"
              >Οργάνωση/Διοίκηση/Ηγεσία</a
            >
          </li>
          <li class="text-cyan-500">
            <a href="#" class="text-cyan-500 hover:text-cyan-600"
              >Οργάνωση/Διοίκηση/Ηγεσία</a
            >
          </li>
        </ul>
      </div>
    </td>
  </tr>
</table>
