<tr>
  <td style="padding: 20px">
    <table>
      <tr>
        <td width="480">
          <a
            style="text-decoration: none; color: #51acff"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            >Follow @prfctfit on twitter →
          </a>
        </td>
        <td width="120" style="text-align: right">
          <a
            style="
              font-weight: normal;
              font-size: 12px;
              text-decoration-line: underline;
              color: #b6b6b6;
            "
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            >Unsubscribe
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
