<tr style="background-color: #fff">
  <td style="padding: 30px">
    <p style="text-align: center">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Apple_Watch_official_logo.svg/381px-Apple_Watch_official_logo.svg.png?20140919225831"
        alt=""
        width="200"
      />
    </p>
  </td>
</tr>
<tr>
  <td height="50" style="background-color: #444">
    <table
      width="400"
      align="center"
      style="border-collapse: collapse; border: 0; border-spacing: 0"
    >
      <tr>
        <td align="center">
          <a
            style="
              text-align: center;
              display: inline-block;
              color: white;
              text-decoration: none;
            "
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            item 1
          </a>
        </td>
        <td align="center">
          <a
            style="
              text-align: center;
              display: inline-block;
              color: white;
              text-decoration: none;
            "
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            item 1
          </a>
        </td>
        <td align="center">
          <a
            style="
              text-align: center;
              display: inline-block;
              color: white;
              text-decoration: none;
            "
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            item 1
          </a>
        </td>
        <td align="center">
          <a
            style="
              text-align: center;
              display: inline-block;
              color: white;
              text-decoration: none;
            "
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            item 1
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
