<tr>
  <td style="padding: 20px">
    <table
      style="
        width: 100%;
        border-collapse: collapse;
        border: 0;
        border-spacing: 0;
      "
    >
      <tr>
        <td style="text-align: left">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            style="display: inline-block"
          >
            <img
              src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/logo.png"
              alt=""
              style="width: 190px"
            />
          </a>
        </td>
        <td style="text-align: right" width="100">
          <table
            style="
              width: 99px;
              border-collapse: collapse;
              border: 0;
              border-spacing: 0;
            "
          >
            <tr>
              <td>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="display: inline-block"
                >
                  <img
                    src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/facebook.png"
                    alt=""
                    style="width: 30px; height: 30px; background-color: #eaeaea"
                  />
                </a>
              </td>
              <td>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="display: inline-block"
                >
                  <img
                    src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/twitter.png"
                    alt=""
                    style="width: 30px; height: 30px; background-color: #eaeaea"
                  />
                </a>
              </td>
              <td>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="display: inline-block"
                >
                  <img
                    src="http://staging.myseminars.com.cy.dedi3501.your-server.de/storage/app/media/newsletter/linkedin.png"
                    alt=""
                    style="width: 30px; height: 30px; background-color: #eaeaea"
                  />
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
