<tr>
  <td align="left" style="padding: 20px 0 0 20px">
    <img
      src="https://mailbakery-store.wp-staging.net/free-templates/mailbakery-zeta-free-html-email-template/regular/images/person1_image3.jpg"
      alt=""
      width="50"
      style="height: auto; display: block"
    />
  </td>
</tr>
<tr style="border: 0">
  <td style="padding: 20px">
    <table>
      <tr>
        <td
          style="
            padding: 20px;
            background-color: #dae4df;
            padding-top: 0;
            font-size: 13px;
            color: #4b5563;
          "
        >
          <p
            style="
              font-style: normal;
              font-weight: bold;
              font-size: 50px;
              color: #154734;
            "
          >
            Welcome to UGS, Name
          </p>
          <p style="font-style: normal; font-weight: normal; font-size: 20px">
            We are <b>University Graphic Systems</b>, a student-run and operated
            print service located on Cal Poly’s campus.
          </p>
          <!--[if gte mso 12]>&nbsp; <![endif]-->
        </td>
      </tr>
    </table>
  </td>
</tr>
