<tr>
  <td style="padding: 40px">
    <p width="390" style="display: block; text-align: center; color: #b6b6b6">
      Partnership with the famous brands:
    </p>

    <table
      role="presentation"
      width="390"
      align="center"
      style="border-collapse: collapse; border: 0; border-spacing: 0"
    >
      <tbody>
        <tr>
          <td
            align="center"
            width="70"
            style="padding: 0; vertical-align: middle"
          >
            <img
              src="http://fakeimg.pl/200x100/?text=logo"
              alt=""
              width="70"
              style="display: block"
            />
          </td>
          <td width="10"></td>
          <td
            align="center"
            width="70"
            style="padding: 0; vertical-align: middle"
          >
            <img
              src="http://fakeimg.pl/200x100/?text=logo"
              alt=""
              width="70"
              style="display: block"
            />
          </td>
          <td width="10"></td>
          <td
            align="center"
            width="70"
            style="padding: 0; vertical-align: middle"
          >
            <img
              src="http://fakeimg.pl/200x100/?text=logo"
              alt=""
              width="70"
              style="display: block"
            />
          </td>
          <td width="10"></td>
          <td
            align="center"
            width="70"
            style="padding: 0; vertical-align: middle"
          >
            <img
              src="http://fakeimg.pl/200x100/?text=logo"
              alt=""
              width="70"
              style="display: block"
            />
          </td>
          <td width="10"></td>
          <td
            align="center"
            width="70"
            style="padding: 0; vertical-align: middle"
          >
            <img
              src="http://fakeimg.pl/200x100/?text=logo"
              alt=""
              width="70"
              style="display: block"
            />
          </td>
        </tr>
      </tbody>
    </table>

    <p height="40px" style="visibility: hidden"></p>
  </td>
</tr>
